/* Mobile */

@media(max-width: 425px) {
  body {
    background: url(./images/bg-mobile.svg) no-repeat top var(--cor-primaria);
    display: flex;
    flex-direction: column;   
    align-items: center;
    text-align: center;
    min-width: 273px;
    font-size: 1.58rem;
    margin: 8%;
    gap:  20px;
  }

  header {
    margin-bottom: 25px;
    margin-left: -50%;
  }

  aside .esquerda {
    margin-bottom: 45px;
  }

  section .direita h1 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  section button {
    margin-top: 10px;
    padding: 10px 70px;
  }

  footer {
    margin-top: 40px;
  }
}

/*Desktop */

@media(min-width: 900px) {

  header img {
    width: 200px;
  }

  .direita .esquerda{
    max-width: 1440px;
    height: 100hv;
    margin: 30%;
    justify-self: center;
  }
}